<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery('#account_member_city_id').html("<option value=''> -- Pilih Kota -- </option>");

  jQuery('#account_member_state_id').change(function() {

    var data=$('#account_member_state_id').val();
    $.ajax({
      type: "GET",
      url: "http://"+location.host+"/dynamic_cities/"+data,
      data: data,

      beforeSend: function()
      {
      },

      success: function(html)
      {
      }

    });
  });
});
</script>

<ul class="breadcrumb">
  <li><%= link_to 'Home', root_path %> <span class="divider">/</span></li>
  <li class="active">Daftar Member</li>
</ul>

<div class="container">
  <div class="row">
    <div class="span7">
		  <%= render 'form' %>
	  </div>

		<div class="span5">
      <aside>
        <div class="sidewidt">
          <h2 class="heading2"><span>Kontak Info</span></h2>
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=-7.29263,112.76315&zoom=13&size=400x200&maptype=roadmap
&markers=color:red%7Clabel:L%7C-7.29263,112.76315&sensor=false"><br><br>
          <p>Alamat: Jl. Menur 5 no 18, Surabaya <br>
            Telepon: +6281 330 066 247 <br>
            Email: <%= mail_to "m.hidayatulloh1@gmail.com", nil, :replace_at => "[at]", :replace_dot => "[dot]", :class => "email" %><br>
          </p>
        </div>
      </aside>
		</div>
	</div>
</div>