<p id="notice"><%= notice %></p>


<p>
  <b>Total</b>
  <%= number_to_currency @order.total_all_price_dollar %>
</p>



<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
