<div class="container">
    <div class="row">
      <div class="span12">
          
        <section>
          <h3><span class="maintext">Produk Sering dilihat</span></h3>
          <ul class="thumbnails">
            <% if @cheaps.blank? %>
              <li>
                Belum ada produk
              </li>
            <% else %>
              <% @cheaps.each do |cheap| 
                  @image = PhotoProduct.find_all_by_product_id(cheap.id).first
                %>
                <li class="span4">
                    <div class="he-wrap tpl5">
                      <%= image_tag "#{get_url_other}/#{@image.image_product_url}", style: "width: 320px; height: 267px;" %>
                      <div class="he-view">
                        <%= link_to 'Add To Cart', add_to_cart_path(id: cheap.id), class: "buy a0", 'data-animate' => "bounceInDown" %>
                        <a class="price a1" data-animate="bounceInDown" href="#"><%= number_to_currency product.price, unit: "IDR ", precision: 0, delimiter: '.' %></a>
                      </div>
                    </div>
                	  <h4><center><%= link_to cheap.name_product, detail_product_path(cheap.id) %></center></h4>
                </li>
              <% end %>
            <% end %>
          </ul>
        </section>

      </div>
    </div>
  </div>